{% extends "base.html" %}
<title>{% block title %}Employees{% endblock %}</title>
{% block content %}
    <nav class="navbar navbar-expand-xxl navbar-light bg-light">
      <!-- <img src="/static/images/for_you_group.png" alt="Logo For You Group" width="300" height="auto"> -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class = "nav-link" href = "{{url_for('views.home')}}" type="button" >Time logger</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class = "nav-link active" href = "{{url_for('views.employees')}}" type="button" >Employees</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class = "nav-link" href = "{{url_for('views.projects')}}" type="button" >Projects</a>
          </li>
          <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.loggertags')}}" type="button" >Logger Tags</a>
          </li>
          <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.phones')}}" type="button" >Phones</a>
              </li>
        </ul>
    </nav>

    <div class="container">
        </br></br>

        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
            Create new employee
        </button>

        </br></br>
        <!-- Detailed employee view -->
        <form action="/search" method="POST">
            <label for="exampleDataList" class="form-label">Find employee</label>
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type employee" autocomplete="off" name="search_field">
            <datalist id="datalistOptions">
                {% for employee in employees %}
              <option value="{{ employee.name }} {{employee.lastname}}">
                {% endfor %}
            </datalist>

            </br>
            <div style = "display: inline-flex">
            <button type="submit" class="btn btn-primary">Find</button>
        </form>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/employees/new">
                <div class="form-group">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name = "EmployeeName" placeholder="Type name" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Lastname</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" name= "EmployeeLastname" placeholder="Type lastname" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="EmployeeLoggertag">Choose loggertag:</label>
                    <input list="EmployeeLoggertagList" class="form-control" name="EmployeeLoggertag" id="EmployeeLoggertag" placeholder="Choose tag" autocomplete="off" />
                    <datalist id="EmployeeLoggertagList">
                        {% for loggertag in loggertags %}
                        <option value= "{{ loggertag.id }}">Id: {{loggertag.id}} | Serial: {{ loggertag.serial }}</option>
                        {% endfor %}

                    </datalist>
                </div>

                <div class="form-group">
                    <label for="EmployeePhone">Choose phone:</label>
                    <input list="EmployeePhoneList" class="form-control" name="EmployeePhone" id="EmployeePhone" placeholder="Choose phone" autocomplete="off" />
                    <datalist id="EmployeePhoneList">
                        {% for phone in phones %}
                        <option value= "{{ phone.id }}">Name: {{ phone.name }} | Company ID: {{ phone.comp_id }}</option>
                        {% endfor %}

                    </datalist>
                </div>

                <div class="form-group">
                    <label for="EmployeeProject">Choose project:</label>
                    <input list="EmployeeProjectList" class="form-control" name="EmployeeProject" id="EmployeeProject" placeholder="Choose project" autocomplete="off" />
                    <datalist id="EmployeeProjectList">
                        {% for project in projects %}
                        <option value= "{{ project.id }}">{{ project.name }} | {{ project.country }}</option>
                        {% endfor %}

                    </datalist>
                </div>




          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" name="">Save changes</button>
          </div>
            </form>


        </div>
      </div>
    </div>


    <div class="container">
        </br></br>
        <table class="table" style="text-align:center;">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Fullname</th>
              <th scope="col">Project</th>
              <th scope="col">Loggertag ID</th>
              <th scope="col">Phone ID</th>
              <th scope="col">Project ID</th>
            </tr>
          </thead>
          <tbody>
            {% for employee in employees %}
            <tr>

              <th scope="row">{{ employee.id }}</th>
              <td>{{ employee.name }}</td>
              <td>{{ employee.lastname }}</td>
              <td>{{ employee.project }}</td>
              <td>{{ employee.logger_tag_id }}</td>
              <td>{{ employee.phone_id }}</td>
              <td>{{ employee.project_id }}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock %}