{% extends "base.html" %}
<title>{% block title %}Home{% endblock %}</title>
{% block content %}

        <nav class="navbar navbar-expand-xxl navbar-light bg-light">
          <!-- <img src="/static/images/for_you_group.png" alt="Logo For You Group" width="300" height="auto"> -->
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="{{ url_for( 'views.time_logger' ) }}" type="button" role="tab" aria-controls="home" aria-selected="true">Time logger</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Employees</button>
            </li>
        </ul>
        </nav>

{% endblock %}