{% extends "base.html" %}
<title>{% block title %}Logger Tags{% endblock %}</title>


{% block content %}
        <nav class="navbar navbar-expand-xxl navbar-light bg-light">
          <!-- <img src="/static/images/for_you_group.png" alt="Logo For You Group" width="300" height="auto"> -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.home')}}" type="button" >Time logger</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.employees')}}" type="button" >Employees</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.projects')}}" type="button" >Projects</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link active" href = "{{url_for('views.loggertags')}}" type="button" >Logger Tags</a>
              </li>
            </ul>
        </nav>

        </br></br>
        <div class="container">
            </br></br>
            <table class="table" style="text-align:center;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Serial</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                {% for tag in loggertags %}
                  <th scope="row">{{ tool.id }}</th>
                  <td>{{ tool.serial }}</td>
                {% endfor %}
                </tr>
              </tbody>
            </table>
        </div>

{% endblock %}