{% extends "base.html" %}
<title>{% block title %}Time Logger{% endblock %}</title>


{% block content %}
        <nav class="navbar navbar-expand-xxl navbar-light bg-light">
          <!-- <img src="/static/images/for_you_group.png" alt="Logo For You Group" width="300" height="auto"> -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.home')}}" type="button" >Time logger</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.employees')}}" type="button" >Employees</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link active" href = "{{url_for('views.projects')}}" type="button" >Projects</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.loggertags')}}" type="button" >Logger Tags</a>
              </li>
            </ul>
        </nav>

        </br></br>
        <div class="container"
            <!-- Detailed project view -->
            <form action="/search" method="POST">
              <label for="exampleDataList" class="form-label">Search project</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type project" autocomplete="off" name="search_field">
                <datalist id="datalistOptions">
                    {% for project in projects %}
                  <option value="{{ project.name }}">
                    {% endfor %}
                </datalist>

                </br>
                <div style = "display: inline-flex">
                <button type="submit" class="btn btn-primary">Find</button>
            </form>
        </div>

        <div class="container">
            </br></br>
            <table class="table" style="text-align:center;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Country</th>
                  <th scope="col">Project Tag</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                {% for project in projects %}
                  <th scope="row">{{ project.id }}</th>
                  <td>{{ project.name }}</td>
                  <td>Francja</td>
                  <td>{{ project.serial }}</td>
                {% endfor %}
                </tr>
              </tbody>
            </table>
        </div>

{% endblock %}