{% extends "base.html" %}
<title>{% block title %}Time Logger{% endblock %}</title>


{% block content %}
        <nav class="navbar navbar-expand-xxl navbar-light bg-light">
          <!-- <img src="/static/images/for_you_group.png" alt="Logo For You Group" width="300" height="auto"> -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class = "nav-link active" href = "{{url_for('views.home')}}" type="button" >Time logger</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.employees')}}" type="button" >Employees</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.projects')}}" type="button" >Projects</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.loggertags')}}" type="button" >Logger Tags</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class = "nav-link" href = "{{url_for('views.phones')}}" type="button" >Phones</a>
              </li>
            </ul>
        </nav>

        </br></br>

        <!--
        <div class="container">
             Detailed search form
            <form action="/search" method="POST">
              <label for="exampleDataList" class="form-label">Search project</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type lastname" autocomplete="off" name="search_field">
                <datalist id="datalistOptions">
                    {% for project in projects %}
                  <option value="{{ project.name }}">
                    {% endfor %}
                </datalist>

                </br>
                <div style = "display: inline-flex">
                <button type="submit" class="btn btn-primary">Find</button>
            </form>
        </div>
        -->

        <div class="container">
            <label for="date" class="form-label">Choose date: </label>
            <input type="date" id="start" name="trip-start" min="2022-01-01" max="2040-12-31" value="">

            </br></br>
            <table class="table" style="text-align:center;">
              <thead>

                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Supervisor</th>
                  <th scope="col">Subordinate</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody>
                  {% for log in timelogger %}
                <tr>
                  <th scope="row">{{ log.id }}</th>
                  <td>{{ log.phone }}</td>
                  <td>{{ log.tag }}</td>
                  <td>{{ log.date }}</td>
                  <td>{{ log.time }}</td>
                </tr>
                    {% endfor %}

              </tbody>
            </table>
        </div>

{% endblock %}